
.container {
    text-align: center;
}


.cabecalho{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    border-bottom: 2px solid Grey;
    align-items: center;
    background-color: orange;
    
    
}
body {
    background-color: #F0F2F5;
}

a {
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;

}

.formulario {
     display: flex;
     flex-direction: column;
     max-width: 400px;
     margin-left: 788px;
  

}

input {
    margin-top: 20px;
    padding: 5px;
    
}
.btn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: orange;
}

.link {
    cursor: pointer;
}